.card-body {
	text-align: center;
}

.dropdown-align-right {
	align-items: right;	
}

.masthead {
	height: 100vh;
  	min-height: 500px;
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

.header {
	text-align: center;
}

.product-img {
	height: 150px;
	width: 150px;
}


html,
body * {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background: -webkit-linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8)), url(https://upload.wikimedia.org/wikipedia/commons/8/8c/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg) no-repeat center center fixed;
  background:  url(https://upload.wikimedia.org/wikipedia/commons/8/8c/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

